@charset "utf-8";
body,div,p,ul,ol,dl,dt,dd,table,tr,td,hr,form,h1,h2,h3,h4,h5,h6,fieldset,a,span,strong,b,em,i,label,img,input,select,textarea{
    margin:0;
    padding:0;
}
    

body,html{
    height:100%;
}
a{
   text-decoration:none;
 }
 ol,ul{
     margin:0;
     padding:0;
     list-style:none;
 }
 //头部导航
.nav{
    width:980px;
    height:100px;
    margin: 0 auto;
   }
.nav .left{
    float:left;
    margin-top:25px;
}
.nav .left img{
    width:150px;
    height:62px;
 }
.nav .right{
    float:left;
    margin-right:64px;
    margin-top:42px;
    margin-left:80px;
 }
.nav  .right .aa{
     float:left;
 }
.nav .right .aa a{
    color:#7fa967;
    font-size:16px;
    width:98px;
    height:50px;
    line-height: 50px;
    display:inline-block;
    border-right:1px solid #e4f1c6;
    text-align: center;
   
}
.nav .right .login {
    float:right;
    line-height: 60px;
    margin-left:45px;
    
}
.nav .right .login a{
    color:#9abd8c;
    font-size:12px;
}
.nav .right .login .twoa{
   margin-left:20px;
}
.nav .right .login p{
   display:inline-block;
}
.denglu:hover .onea{
    border:1px solid #d3f3b9;
    border-radius:4px;
}
.zhuce:hover .twoa{
    border:1px solid #d3f3b9;
    border-radius:4px;
}
//登录界面
.section{
    width:978px;
    height:413px;
    background-image: url(../images/bg.jpg);
    margin:0 auto;
  
}
.section .dd{
    width:930px;
    height:50px;
    margin-top:100px;
}
.section .dd .one{
    font-size:18px;
    color:#10781a;
    padding-left:12px;
 }
 .section .dd .two{
    font-size:12px;
    color:#ff6a00;
    padding-left:26px;
    font-weight:600;
 }
.section .left{
   width:400px;
   height:313px;
   float:left;
   padding-left:130px;
   padding-top:70px;
   color:#5d8544;
}
.section .left input{
    width:196px;
    height:25px;
    line-height:50px;
    
 }
.section .left .left_input{
    width:13px;
    height:13px;
    margin-left:46px;
    margin-top:12px;
 }
.section .left .three{
    font-size:12px;
    padding-left:10px;
}
.section .left .left_denglu{
    width:197px;
    height:34px;
    background-color:#10781a;
    color:white;
    text-align: center;
    border:none;
    border-radius:3px;
    margin-left:40px;
    font-weight:600;
    line-height:34px;
}
.section .right{
    float:left;
    width:310px;
    height:313px;
}
.section .right span{
    font-size:14px;
    color:#ff8d00;
    display:inline-block;
    margin-top:105px;
    margin-left:113px;
}
.section .right .right_zhuce{
    width:197px;
    height:34px;
    background-color:#10781a;
    color:white;
    text-align: center;
    border:none;
    border-radius:3px;
    margin-left:86px;
    margin-top:15px;
    font-weight:600;
}
.section .right p{
    font-size:12px;
    color:#5d8544;
    display:inline-block;
    margin-left:65px;
    margin-top:20px;
}
.section .right a{
    color:#ff6a00;
    font-weight:600;
}
//尾部
.footer{
    width:1343px;
    height:106px;
    margin-top:60px;
    border-top:7px solid #428508;
}
.footer p{
    font-size:13px;
    color:#a7ab70;
    margin-left:367px;
    margin-top:20px;
}
